*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 255);
    color: rgb(8, 255, 49);
    font-size: 20px;
    text-align: center;
    height: 200px;
}

h1{
    margin-top: 50px;
}

.form{
    margin-top: 50px;
}